<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">QuizApp</a>

    <% if (!userInfo) { %>
    <div class="logindiv">
      <form action="/login" method="POST">
        <label>Please log in Here:</label>
        <div>
          <label for="email">Enter Email:</label>
          <input type="email" name="email" style="margin: 1em" />
        </div>
        <div>
          <label for="password">Enter Password:</label>
          <input type="password" name="password" style="margin: 1em" />
        </div>
        <button type="submit" class="btn btn-primary" style="margin: 1em">
          Login
        </button>
      </form>
    </div>
    <% } %>
    <!-- end -->

    <!-- Creating logout field and button -->
    <% if (userInfo) { %>
    <form action="/logout" method="POST">
      <label>Logged In As: <a href=""></a> %= userInfo["name"] %>! </label>
      <button type="submit" class="btn btn-primary" style="margin: 1em">
        Logout
      </button>
    </form>
    <% } %>
    <!-- end -->
  </nav>
</header>
