<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz Page</title>
  </head>

  <body>
    <%- include('nav') %>
    <h1>Quiz Title</h1>
    <main class="quizattempt-container">
      <section class="newquiz">
        <form id="myform" action="/quiz/<%= quiz.id %>" method="POST">
          
        </form>
      </section>
    </main>
  </body>
</html>
