nav {
  color: #ffff;
  background-color: #e1793e;
  height: 120px;
  width: 100%;
  top: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

body {
  padding-top: 8em;
  background: rgb(163, 208, 219);
}

h1 {
  text-align: center;
}

.quiz-container {
  border: solid 2px green;
  margin: 2em;
  color: green;
}

main {
  margin: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td {
  border: 2px solid black;
  padding: 8px;
}
table th {
  border: 3px solid black;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
