nav {
  color: #ffff;
  background-color: #4ed4ac;
  height: auto;
  width: 100%;
  top: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  z-index: 1;
  position: sticky;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
}

.logindiv {
  max-height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
body {
  margin-top: 6em;
  background: #f3e0dc;
}

h1 {
  text-align: center;
}

.quiz-container {
  border: solid 2px #1f6521;
  margin: 2em;
  color: #1f6521;
}

.indexmain {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 30%;
}

table td {
  border: 2px solid black;
  padding: 8px;
}
table th {
  width: 3em;
  border: 3px solid black;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-family: "M PLUS 1 Code", sans-serif;
  font-size: 40px;
}

.login {
  display: flex;
  align-items: center;
}

.login input {
  padding: 0em;
  margin: 0 0.7em 0;
}
